
.cabecalho {
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 22px;
    color: aqua;
    font-family: 'Playfair Display', serif;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
    font-family: 'Playfair Display', serif;
}   

.cabecalho-menu-item {
    color: aqua;
}